.fullName{
    /* border-style: solid; */
    text-align: center;
    font-family: 'Arvo', serif;

    color: rgb(141, 4, 4);

}

.parkfacts{
    border-style: solid;
    /* size: 24px;
    width: 15%;
    height: 25%; */
    
}

.hours{
    padding-left: 900px;
    font-size: 25px;
    
    
}

span{
    text-align: center;
    font-family: 'Arvo', serif;
    color: rgb(141, 4, 4);

}

.parkfacts2{
    border-style: solid;
    /* size: 24px;
    width: 15%; */
    text-align: center;
    
    
}

.text{
    border-style: solid;
    /* margin-top: 100px; */
}



button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #bc6c25;
}

button:hover {
    background-color: #606c38; 
    color: white;
  }

  .pictures{
    border-radius: 8px;
    
  }

  .picture2{
    border-radius: 8px;
    
  }


  .box{
      border-style: solid;
  }

  /* .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */
