.fullName{
    /* border-style: solid; */
    text-align: center;
    font-family: 'Arvo', serif;
    background-color: #fefae0;
    color: #bc6c25;

}


h1{
    color: #606c38;
}

.parkfacts{
    /* border-style: solid; */
    border-radius: 8px;
    background-color: #fefae0;
    font-family: 'Arvo', serif;
    text-align: center;
    color: #bc6c25;
}

.hours{
    padding-left: 900px;
    font-size: 11px;
    font-family: 'Arvo', serif;
    
    
}

span{
    text-align: center;
    font-family: 'Arvo', serif;
    color: #bc6c25;

}

.parkfacts2{
    border-style: solid #bc6c25;
    /* size: 24px;
    width: 15%; */
    text-align: center;
    background-color: #fefae0;
    border-radius: 8px;
    font-family: 'Arvo', serif;
    color: #bc6c25;
    
}

.text{
    border-style: solid;
    /* margin-top: 100px; */
    font-family: 'Arvo', serif;
    background-color: #fefae0;
    border-radius: 8px;
    color: #bc6c25;
    
}



button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #bc6c25;
    font-family: 'Arvo', serif;
}

button:hover {
    background-color: #606c38; 
    color: white;
    font-family: 'Arvo', serif;
  }

  .pictures{
    border-radius: 8px;
    /* width: 100%;
    height: auto; */
    
  }

  .picture2{
    border-radius: 8px;
    float: right;
    /* width: 100%;
    height: auto; */
    
  }


  .box{
      /* border-style: solid; */
      font-family: 'Arvo', serif;
      border-radius: 8px;
      background-color: #fefae0;
      color: #bc6c25;
      
      
  }

  img{
      border-radius: 8px;
  }

.info{
    background-color: #fefae0;
    border-radius: 8px;
}
 
 