@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

#header {
  font-family: "Smooch", cursive;
  color: #DDA25F;
  margin-bottom: -5px;
}

#sub {
  font-size: small;
  font-family: "Macondo", cursive;
  color: #D1AD84;
}
