/* Page works fine on small and med screen sizes. When screen is OVER 1006px Map should render  */

.sidebar {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  max-height: 100vh;
  max-width: 25vw;
  overflow-y: scroll;
}

.sidebar-header {
  text-align: center;
  margin: 10px;
}

@media screen and (max-width: 1280px) {
  .sidebar {
    max-width: 400px;
    flex: 0 0 400px;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    max-width: 300px;
  }
}
