.footer {
  font-size: 1.25rem;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footer a {
  color: #dda15e;
}

a:hover {
  color: white;
  text-decoration: underline;
}
